.users__card {
  cursor: pointer;
  padding: 0.5em;
  border: 1px solid #333;
  background-color: #fff;
  max-width: 200px;
  min-width: 120px;
  transition: opacity 0.1s ease-in-out;
  box-shadow: 3px 3px 14px 0 #2b2b2b;

  &:hover {
    opacity: 0.4;
  }

  img {
    max-width: 100px;
    aspect-ratio: 1;
    border-radius: 0.5em;
  }

  p {
    color: #333;
    text-align: center;
    font-family: "Signika Negative", sans-serif;
  }
}
